<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "zwukA.taddap.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. Звук А</name>

    <description>
        Вызываем звук А у детей
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/1b1075b2e917a86616993d076ff36790.png" density="ldpi" />
        <icon src="res/android/icon/7702c2a07bc1609b9f6d5c2ce421d56e.png" density="mdpi" />
        <icon src="res/android/icon/07e6dc760f504d92a5ee637465e01c6d.png" density="hdpi" />
        <icon src="res/android/icon/ca7b8a225482014f035eab60f33a7541.png" density="xhdpi" />
        <icon src="res/android/icon/73ce7ef9ebcdc4f803722f54956ebfbc.png" density="xxhdpi" />
        <icon src="res/android/icon/7919831b2145b57b951d03d8e4a64f88.png" density="xxxhdpi" />

        <splash src="res/android/screen/e6d3eeab2e57f722c3bed822a23b27cb.png" density="port-hdpi"/>
        <splash src="res/android/screen/a286d0dc0582f857282813476f3b8fdc.png" density="port-ldpi"/>
        <splash src="res/android/screen/64e629b593f98e0cd156dcafe8c116aa.png" density="port-mdpi"/>
        <splash src="res/android/screen/53437783d92eab7a804c716313945be6.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/da7c77f8e3baec15b8024e85a1c2cc2d.png" width="180" height="180" />
        <icon src="res/ios/icon/7a4075e034a0ebb012e1e0b1745ed1c2.png" width="60" height="60" />
        <icon src="res/ios/icon/c2a3e89c9876ea9148bdcd28af510321.png" width="120" height="120" />
        <icon src="res/ios/icon/6d707c0891a59eb91ee925fbb00b8113.png" width="76" height="76" />
        <icon src="res/ios/icon/1ef28f839683e5d285882b599d402b94.png" width="152" height="152" />
        <icon src="res/ios/icon/8726b103f85cfa0fb84a0796ab648c19.png" width="57" height="57" />
        <icon src="res/ios/icon/880c3bff90da298f9de6ca753c5ccdb3.png" width="114" height="114" />
        <icon src="res/ios/icon/d69de22c83eaba3c5ef18f244c046b2e.png" width="72" height="72" />
        <icon src="res/ios/icon/c78711fd995eebabe64f963a8a3aea32.png" width="144" height="144" />
        <icon src="res/ios/icon/098c606953656d6543c68768950dafb0.png" width="167" height="167" />
        <icon src="res/ios/icon/0eb9f5d27ae0f45c4c65d2999e584467.png" width="29" height="29" />
        <icon src="res/ios/icon/95e7be4e4b593343daba1ef85faa3874.png" width="58" height="58" />
        <icon src="res/ios/icon/c0f56332339e9822067f7df082ba51a0.png" width="87" height="87" />
        <icon src="res/ios/icon/f71d56b05fb0da209d57912ca943d8fa.png" width="167" height="167" />

        <splash src="res/ios/screen/946677f42758bab87ae7cf215834b563.png" />
        <splash src="res/ios/screen/0985f22ce43687fe120a36e5719a25ec.png" />
        <splash src="res/ios/screen/d4320cebd507f0d3087ee80917d4fc41.png" />
        <splash src="res/ios/screen/f301a846ebdaa649ea3de664cc06696b.png" />
        <splash src="res/ios/screen/877b244ed1d89e7f179cc7c2f8898769.png" />
        <splash src="res/ios/screen/dccb11aaf005cfc9687ec273e9e97af7.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/443af0462069fc155d8a3dd90b4f7c07.png" target="StoreLogo" />
        <icon src="res/windows/icon/e05c256f783d3aeeff36a8965778074b.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/27e49d406e3130333cecab4849df0446.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/c59e3a5c933ec889f1b56e7129257c8d.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/c1471d2c4fed789f7dd17ed2dd9b80a2.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/8a1b8c509233cd833f677aa8f2189517.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/87912870dd2fcc440bb455982ae6f037.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/ed67fdfab61d54ef4f1b95aee244a3f5.png" target="SplashScreen"/>
        <splash src="res/windows/screen/bd465279fbdb542eeba1973d106a20fa.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>